fastapi
uvicorn[standard]
python-multipart
pillow
google-cloud-vision
google-cloud-translate
deep-translator
simple-lama-inpainting
numpy
scikit-learn
scipy
opencv-python-headless
jinja2
google-cloud-documentai
python-dotenv
